*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
    

body{
    /* font-family: var(--body-font); */
    font-family: "Montserrat", sans-serif;;
    /* font-size:var(--normal-font-size); */
    font-size: 0.938rem;
    /* background-color: var(--first-color); */
    background-color: hsl(33, 24%, 65%);
    /* color: var(--black-color); */
    color: hsl(0, 0%, 4%);

}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width:100%;
    height: auto;

}
.container{
    max-width:vw;
    margin-inline: 1.5rem;
}
.main{
    overflow:hidden;
}
/* header & nav  */
.head{
  display: grid;
  height: 10vh;
}

.header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background-color: transparent;
    z-index: 100;

}
.nav{
    position: relative;
    height:3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color:hsl(0, 0%, 4%);
    font-weight:600;

}
.nav__close,
.nav__toggle,
.nav__actions{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
    
}

.nav__actions{
    column-gap: 0.5rem;
}
@media screen and (max-width:100vw){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color:hsl(33, 5%, 39%);
        width: 80%;
        height: 100%;
        box-shadow: -2px 0 12px hsla(0, 0%, 0%, 0.2) ;
        padding: 6rem 3rem 0;
        transition: right 0.4s;
    }


.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

}
.nav__link{
    color: hsl(0, 0%, 4%);
    font-weight: 600;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__close{
    position: absolute;
    top:1.5rem;
    right: 1.5rem;

}
/* show menu  */
.show-menu{
    right: 0;
}